FootballScoreBoardSln/FootballScoreBoard.Tests/obj/
FootballScoreBoardSln/FootballScoreBoard.Tests/bin/
FootballScoreBoardSln/.vs/FootballScoreBoardSln/v16/.suo
FootballScoreBoardSln/FSBServer/obj/
FootballScoreBoardSln/FSBServer/bin/
